/*Fonts*/

.color-1 {
	color: #FFFFFF;
}

.color-2 {
	color: #000000;
}

.color-3 {
	color: #DF0337;
}

.color-4 {
	color: #2F2F2F;
}

.color-5 {
	color: #343434;
}

/*Backgrounds*/

.bg-color-1 {
	background-color: #FFFFFF;
}

.bg-color-2 {
	background-color: #000000;
}

.bg-color-3 {
	background-color: #DF0337;
}

.bg-color-4 {
	background-color: #2F2F2F;
}

.bg-color-5 {
	background-color: #343434;
}