#indexPage label {
	font-size: 0.75em;
	font-family: serif;
	font-weight: bold;
}

#accessIcon {
	height: 30px;
	width: 26px;
	display: block;
	background-image: url('../img/access.png');
}

#logo {
	margin-top: 40px;
	width: 120px;
	height: 154px;
	background-image: url('../img/logo.png');
	margin-bottom: 20px;
}

#helpBtn {
	background-color: #666666;
}

#searchBtn {
	width: 70px;
	height: 17px;
	color: #FFFFFF;
	background-color: #DF0337;
	padding: 0.5em 2.25em 0.5em 0.5em;
	float: left;
}

.bar {
	width: 100%;
	display: block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.check-label {
	padding: 0px;
}

.content {
	position: absolute;
	top: 10px;
	bottom: 10px;
	width: 100%;
}

.footer {
	height: 10px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.header {
	height: 10px;
	position: fixed;
	top: 0px;
}

.input-block {
	width: 60%;
	margin-bottom: 20px;
}

.option-menu {
	font-size: 13px;
	height: 25px;
	position: absolute;
	bottom: 0px;
}

.home-body {
	background-image: url('../img/bg.png');
	background-position-x: -190px;
}